<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="admin">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Authors</a>
          </li>
        </ul>
        <form class="d-flex me-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav  mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="signup" *ngIf="!(currentUser | async)">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login" *ngIf="!(currentUser | async)">Login</a>
            </li>
            <li class="nav-item" *ngIf="currentUser | async">
                <a class="nav-link" >{{(currentUser | async)?.firstName}}</a>
              </li>
              <li class="nav-item" *ngIf="currentUser | async">
                <a class="nav-link" href="#"><img [src]="(currentUser | async)?.imageUrl"  class="img-fluid rounded-circle" alt="User Image"></a>
              </li>
            <li class="nav-item" *ngIf="currentUser | async">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>