.navbar img {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.navbar img:hover {
    border-color: blue;
    box-shadow: 0 0 5px #5419f5;
}

.usrFrst {
    padding-top: 14px;
}

.usrOut {
    padding-top: 14px;
}