<form
  (ngSubmit)="loginUser()"
  [formGroup]="loginForm"
  class="d-flex flex-column justify-content-center align-items-center mt-3" >

  
  <div class="mb-3">
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email"
      placeholder="Email"
    />

    <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger">
      <div *ngIf="email!.errors?.['required']">Email is required.</div>
      <div *ngIf="email!.errors?.['email']">Please enter a valid email address.</div>
    </div>
  </div>

  <div class="mb-3">
    <input
      type="password"
      id="password"
      class="form-control"
      formControlName="password"
      placeholder="Password"
    />

    <div
      *ngIf="password!.invalid && (password!.dirty || password!.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="password!.errors?.['required']">Password is required.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Log In</button>
</form>
