 <!-- <div class="bigbody">
 <div class="button-container">
    <button class="button" [class.selected]="selectedButton === 'ALL'" (click)="showContent('ALL')" >All books</button>
    <button class="button" [class.selected]="selectedButton === 'READ'" (click)="showContent('READ')">Read</button>
    <button class="button" [class.selected]="selectedButton === 'WANT_TO_READ'" (click)="showContent('WANT_TO_READ')">Want to Read</button>
    <button class="button" [class.selected]="selectedButton === 'CURRENTLY_READING'" (click)="showContent('CURRENTLY_READING')">Currently Reading</button>
  </div>
  
  <div class="content-container">
    <div class="content" *ngIf="selectedButton === 'ALL'" >
      <main>
          <app-book-card class="task" *ngFor="let book of books" [book]="book"></app-book-card>
      </main>
    </div>
    <div class="content" *ngIf="selectedButton === 'READ'">
    </div>
    <div class="content" *ngIf="selectedButton === 'WANT_TO_READ'">
      Content for Button 3
    </div>
    <div class="content" *ngIf="selectedButton === 'CURRENTLY_READING'">
      Content for Button 4
    </div>
  </div>
</div>
   -->


   <div class="button-container">
    <button class="button" [class.selected]="selectedContent === 'all'" (click)="showContent('all')">All books</button>
    <button class="button" [class.selected]="selectedContent === 'read'" (click)="showContent('read')">Read</button>
    <button class="button" [class.selected]="selectedContent === 'want-to-read'" (click)="showContent('want-to-read')">Want to Read</button>
    <button class="button" [class.selected]="selectedContent === 'currently-reading'" (click)="showContent('currently-reading')">Currently Reading</button>
  </div>

  <div class="content-container">
    <div class="content"  *ngIf="selectedContent === 'all'">
      <app-book-card class="task" *ngFor="let book of allBooks" [book]="book"></app-book-card>
    </div>
    <div class="content" *ngIf="selectedContent === 'read'">
      <app-book-card class="task" *ngFor="let book of readBooks" [book]="book"></app-book-card>
    </div>
    <div class="content" *ngIf="selectedContent === 'want-to-read'">
      <app-book-card class="task" *ngFor="let book of wantToReadBooks" [book]="book"></app-book-card>
    </div>
    <div class="content" *ngIf="selectedContent === 'currently-reading'">
      <app-book-card class="task" *ngFor="let book of currentlyReadingBooks" [book]="book"></app-book-card>
    </div>
  </div>
