<nav aria-label="Page navigation example" class="m-5" >
    <ul *ngIf="totalPages==1" class="pagination">
      <li class="page-item"><a class="page-link" >1</a></li>
    </ul>
  
    <ul *ngIf="totalPages > 1" class="pagination">
        <li class="page-item">
          <a class="page-link" aria-label="Previous" (click)="currentPage=1">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li *ngFor="let page of pages" class="page-item"><a class="page-link" (click)="currentPage=page">{{page}}</a></li>
        <li class="page-item">
          <a class="page-link" aria-label="Next" (click)="currentPage=totalPages">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
    </ul>
  </nav>