<!-- <div id="large-th">
    <div class="container">
      <h1> A list of books</h1>
      <br>
      <div id="list-th">
        <app-book-card class="task" *ngFor="let book of books"></app-book-card>
      </div>
    </div>
</div> -->

    <main>
        <app-book-card class="task" *ngFor="let book of books" [book]="book"
        (delete)="deleteBook($event)"></app-book-card>

        <!-- <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)">
        </app-pagination> -->

        
    </main>