 <section class="adminHeader vh-100">
    <p class="adminPar">Welcome to your favourite book library</p>
    <button class="mybtn btn btn-primary" [routerLink]="['/mybooks']">My books</button>
 </section>
 
 <div class="bigbody">
      <div class="popularbooks">
        <h2 class="popularTitle">Popular Books</h2>
      </div>

      <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let book of books">
          <ng-template carouselSlide>
            <figure class="book-style">
              <a [routerLink]="['/book', book._id]"
                ><img [src]="book.imageUrl" alt="Books" class="book-item" 
              /></a>
            </figure>
          </ng-template>
        </ng-container>
      </owl-carousel-o>


      <div class="popularbooks">
        <h2 class="popularTitle">Popular Authors</h2>
      </div>

      <section>
        <div style="display: flex; height: 350px;">
            <app-author *ngFor="let author of authors" [author]="author"></app-author>
        </div>
      </section>


     <!-- categories -->
     <div class="popularbooks">
      <h2 class="popularTitle">Popular Categories</h2>
    </div>

    <section>
      <div style="display: flex; height: 350px;">
          <app-category *ngFor="let category of categories" [category]="category"></app-category>
      </div>
    </section>








<br><br>
<br><br>
<br><br>
<br><br>
</div> 
  